.main-content {
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}

@media (min-width: 1200px) {
  .main-content {
    grid-template-columns: 30% 70%;
  }
}

@media (max-width: 992px) {
  .main-content {
    grid-template-columns: 100%;
  }
}