.sidebar {
  grid-column: 1;
  padding: 20px;
  margin-top: -70px;
}

.sidebar .user-avatar {
  position: relative;
}

@media (max-width: 992px) {
  .sidebar .user-avatar {
    max-width: 140px;
  }
  .sidebar .user-avatar-name-username {
    margin-top: 65px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .sidebar .user-name-username {
    font-size: 1.3rem;
  }
}

.sidebar .user-avatar img {
  width: 100%;
  border-radius: 50%;
  z-index: 900;
  position: relative;
}

.sidebar .user-avatar svg {
  position: absolute;
  right: 10px;
  bottom: 35px;
  background-color: #0d1117;
  color: #5f666f;
  padding: 10px;
  border: 1px solid #2d353e;
  border-radius: 50%;
  z-index: 1000;
}

@media (max-width: 992px) {
  .sidebar .user-avatar svg {
    font-size: 0.8rem;
    right: 7px;
    bottom: 7px;
    padding: 7px;
  }
  .sidebar .user-avatar {
    z-index: 0;
  }
}

.sidebar h3 {
  font-weight: 500;
  margin-top: 10px;
}

.sidebar p.username {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  margin: 5px 0 10px;
}

.sidebar button {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  display: block;
  background-color: #21262d;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  margin: 5px 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #404952;
  border-radius: 5px;
}

.sidebar .info p {
  margin: 12px 0;
}

.sidebar .info p:nth-child(1) {
  margin: 22px 0;
}

.sidebar .info svg {
  width: 30px;
  padding-right: 10px;
}

.user-email,
.user-blog {
  word-break: break-all;
  color: inherit;
  text-decoration: inherit;
}
.user-email:hover,
.user-blog:hover {
  color: #56a3fb;
  text-decoration: underline;
}
