body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  color: white;
  background-color: #0d1117;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* @media (min-width: 786px) {
  .container {
    width: 750px;
  }
} */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}